.titulo {
    font-size: 40px;
}
.fonte-cor-posicao {
    display: block;
    width: 500px;
    font-size: 30px;
    background-color: rgb(156, 194, 156);
    margin: auto;
}
.texto-simples {
    font-size: 20px;
}
.botao {
    font-size: 20px;
}
.posicao-botao {
    display: flex;
    justify-content: center;
}
.fundo-verde { content: initial;

   width: 600px;
   background-color: green;
   margin: auto;
}
.resultado {
    margin: 3em;
    font-size: 30px;
    background-color: rgb(156, 194, 156); 
}
